.course-card {
  background: var(--card-bg);
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  box-shadow: var(--shadow);
  transition: 0.3s;
  cursor: pointer;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.course-card h3 {
  margin: 10px 0 4px;
}

.instructor {
  font-size: 14px;
  opacity: 0.7;
}

.enroll-btn {
  display: block;
  margin-top: 10px;
  background: #4e73df;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
