.lesson-player {
  margin-top: 20px;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow);
}

.video-container {
  margin-top: 10px;
  width: 100%;
  height: 380px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
