.chart {
  width: 100%;
  background: #ddd;
  height: 20px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.chart-fill {
  background: #4e73df;
  height: 100%;
  border-radius: 12px;
}

.chart span {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 14px;
  opacity: 0.8;
}
